@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;

    --black-blue: #0D2A55;
    --blue: #398BB9;
    --green-grey: #546D85;
    --dark-green: #91C3CE;
    --green: #D6E8EB;
    --light-green: #F9F9F9;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    overflow: hidden;

    min-height: 100%;
}

.header {
    background-color: var(--green);

    padding: 0.5rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    position: relative;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.title > h1 {
    color: var(--black-blue);
    font-size: 3rem;

    margin: 0;

    cursor: pointer;
}
.underline {
    background-color: var(--dark-green);

    position: absolute;
    bottom: 0.5rem;
    right: 5rem;

    height: 0.3rem;
    width: 9rem;
}

h1 > span {
    color: var(--blue)
}

.nav-button {
    border: none;
    mask-image: url("./images/menu.svg");
    background-color: var(--black-blue);

    height: 3rem;
    width: 3rem;

    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--blue);
}

.icon {
    background-color: white;
    border-radius: 30px;

    width: 3rem;
    height: 3rem;
}

.content {
    position: relative;
    display: flex;
}

.sidebar {
    background-color: var(--light-green);

    width: 20rem;
    min-height: calc(100vh - 5.5rem);

    overflow: hidden;
    white-space: nowrap;

    transition: width 0.4s ease-in-out;
}

.width-zero {
    width: 0;
}
h2 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin: 0;
}
.sidebar h2 {
    color: var(--green-grey);
}
.sidebar h3 {
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    transition: color 0.1s ease-in-out;

}
.sidebar h3:hover {
    color: var(--blue);
}
.sidebar h3::before{
    background-color: var(--black-blue);
    mask-image: url("./images/calendar-heart-outline.svg");

    content: "";
    min-width: 1.5rem;
    height: 1.5rem;
}
.side-home h3:first-child::before{
    mask-image: url("./images/calendar-month-outline.svg");
}
.side-home h3:nth-child(2)::before{
    mask-image: url("./images/calendar-badge-outline.svg");
}
.side-home h3:nth-child(3)::before{
    mask-image: url("./images/calendar-range-outline.svg");
}
.side-home h3:nth-child(4)::before{
    mask-image: url("./images/calendar-alert-outline.svg");
}
.side-home h3:last-child::before{
    mask-image: url("./images/calendar-check-outline.svg");
}

.side-home, .side-projects {
    position: relative;
    margin: 2rem;
}
.side-home > .underline, .side-projects > .underline {
    top: 3rem;
    left: 0;

    height: 0.2rem;
    width: 11rem;
}

.side-projects h3 > button {
    background-color: var(--green);
    border: none;

    mask-image: url("./images/delete-circle-outline.svg");

    width: 1.5rem;
    height: 1.5rem;

    transition: scale 0.1s ease-in-out;

    cursor: pointer;
}
.add-project:hover, .todo h2 > button:hover, .edit-btn:hover, .delete-btn:hover {
    scale: 1.1;
    background-color: var(--blue);
}
.side-projects h3 > button:hover {
    scale: 1.1;
    background-color: var(--dark-green);
}
.add-project, .todo h2 > button{
    background-color: var(--dark-green);
    mask-image: url("./images/plus-circle-outline.svg");

    content: "";
    min-width: 1.8rem;
    height: 1.8rem;

    transition: scale 0.1s ease-in-out;

    cursor: pointer;
}

h3 {
    color: var(--black-blue);
}

.todo {
    background-color: white;
    padding: 2rem;

    max-height: calc(100vh - 5.5rem);

    overflow-y: auto;

    flex: 1;
}

.task-container {
    background-color: var(--light-green);
    border-radius: 10px;

    width: min(75%, 60rem);
    min-width: 30rem;

    margin: 0 auto 2rem;
    padding: 1rem;
}
.todo h2 {
    color: var(--black-blue);
    margin-bottom: 1rem;

    white-space: nowrap;
}

.task, .task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.task-info {
    padding-top: 1rem;
    padding-left: 3rem;
}

.task > div:first-child, .task > div:last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.check-box {
    background-color: var(--green);
    border-radius: 30px;

    min-width: 2rem;
    height: 2rem;

    cursor: pointer;
}
.done::after {
    color: var(--black-blue);
    font-size: 1.5rem;
    content: "✔";
    padding-left: 0.4rem;
}

.edit-btn {
    background-color: var(--black-blue);
    mask-image: url("./images/pencil-outline.svg");

    content: "";
    min-width: 1.8rem;
    height: 1.8rem;

    transition: scale 0.1s ease-in-out;

    cursor: pointer;
}
.delete-btn {
    background-color: var(--black-blue);
    mask-image: url("./images/trash-can-outline.svg");

    content: "";
    min-width: 1.8rem;
    height: 1.8rem;

    transition: scale 0.1s ease-in-out;

    cursor: pointer;
}

p, h4 {
    margin: 0;
}

h4 {
    color: var(--black-blue);
    font-size: 1.3rem;
}
p {
    color: var(--blue);
}
/*task forms*/

.form-body {
    background-color: var(--light-green);
    color: var(--black-blue);
    border: 0.2rem solid var(--green);
    border-radius: 10px;

    position: absolute;
    top: 22.1rem;
    left: 16rem;

    width: 20rem;
    height: fit-content;

    overflow: hidden;
}

.form-head {
    background-color: var(--green);
    padding: 0.5rem 1rem;
}

.form-body > form {
    display: flex;
    flex-direction: column;

    padding: 0.5rem 1rem;
}
form > label {
    margin-top: 1rem;
}
form > label:first-child {
    margin-top: 0.5rem;
}
.center {
    margin: 1rem auto auto;
}
.selected {
    color: var(--blue);
}
.important-task::before {
    content: "! ";
    color: var(--blue);
}
